.env
datasets/train/
datasets/test/
datasets/valid/
Kickboard/train/
Kickboard/test/
Kickboard/valid/
Kickboard_Brand/train/
Kickboard_Brand/test/
Kickboard_Brand/valid/
Helmet/train/
Helmet/test/
Helmet/valid/