.env
datasets/train/
datasets/test/
datasets/valid/
Kickboard_1/train/
Kickboard_1/test/
Kickboard_1/valid/
Kickboard_2/train/
Kickboard_2/test/
Kickboard_2/valid/
Helmet_1/train/
Helmet_1/test/
Helmet_1/valid/