.env
datasets/Kickboard/train/
datasets/Kickboard/test/
datasets/Kickboard/valid/
datasets/Kickboard_Brand/train/
datasets/Kickboard_Brand/test/
datasets/Kickboard_Brand/valid/
serviceAccountKey.json
config.py
firbase_config.py
